<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1f1f14;">
  <a class="navbar-brand hvr-float-shadow" href="/"  th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}"><img 	WIDTH=40 height=40 src="https://cdn.freebiesupply.com/logos/large/2x/spring-3-logo-png-transparent.png" /></a>
  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link hvr-float-shadow" th:classappend="${#httpServletRequest.getRequestURI() == '/inscription' ? 'active':''}" href="/inscription" th:text="#{sub}" >Inscription</a>
      </li>
      <li class="nav-item">
        <a class="nav-link hvr-float-shadow" href="/liste" th:text="#{list}" th:classappend="${#httpServletRequest.getRequestURI() == '/liste' ? 'active':''}">Liste</a>
      </li>
     </ul>
     
     <ul class="navbar-nav mr-auto">
     <li class="nav-item">
   
		<div sec:authorize="!isAuthenticated()">
     		<a class="nav-link hvr-float-shadow" href="/connexion" >Connexion</a>
     	</div>
     	
     	<div sec:authorize="isAuthenticated()">
     		<a class="nav-link hvr-float-shadow" href="/deconnexion" >Deconnexion</a>
     	</div>
     </ul>
     
  
  </div>
</nav>
