<html>
<head th:include="inc/head"> 

<title th:text="${appName}"> </title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 
</head>
<body>

<div th:include="inc/nav"></div>
<br/>
<div class="container">

<h1 th:text="#{greeting}">Bonjour !</h1>
<p th:text="#{messageHome}">Bienvenue sur notre site e-commerce</p>
<p th:text="#{messageDesc}"></p>

<span th:text ="${#authentication.getPrincipal()}"></span>
<div sec:authorize="isAuthenticated()">
  This content is only shown to authenticated users.
</div>

<span sec:authentication="name">Alexis</span>

<br />
<div sec:authorize="hasRole('ROLE_ADMIN')">
  This content is only shown to administrators.
</div>
<div sec:authorize="hasRole('ROLE_USER')">
  This content is only shown to users.
</div>

</body>
</html>