<html>
<head th:include="inc/head">

<title th:text="${appName}"> </title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 
</head>
<body>

<div th:include="inc/nav"></div>
<br/>
<div class="container">
<h1>Liste des comptes</h1>
<table class="table">
<thead>
    <tr>
      <th scope="col">Raison social</th>
      <th scope="col">Tva intercomm</th>
      <th scope="col">Siret</th>
      <th scope="col">Nombre de salariés</th>  
	  <th scope="col">Newsletter</th>
      
    </tr>
  </thead>
   <tbody>
    <tr th:each="listUser: ${listUser}">
    
      <td th:text="${listUser.raisonSoc}"></td>
      <td th:text="${listUser.tva}"></td>
      <td th:text="${listUser.siret}"></td>
      <td th:text="${listUser.nbrSalarie}"></td>
	  <td th:text="${listUser.newsletter}"></td>

 
    </tr>
  </tbody>
</table>
</div>

</body>
</html>